.event-box{
  padding: 35px 75px;
}

.btn-info{
  font-size: 22px;
  background: rgb(245, 243, 243);
  border: 1px solid rgb(17, 134, 201);
  color: rgb(17, 134, 201);;
}

.btn-info:hover{
  background: rgb(178, 202, 221, 0.5);
}
