<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <div class="row">
        <div class="col-md-3">
          <li  class="list-unstyled">
            <a routerLink="fromEvent" class="btn btn-info event-box">fromevent</a>
          </li>
        </div>
        <div class="col-md-3">
          <li  class="list-unstyled">
            <a routerLink="interval" class="btn btn-info event-box">Interval</a>
          </li>
        </div>
        <div class="col-md-3">
          <li  class="list-unstyled">
            <a routerLink="fromEvent" class="btn btn-info event-box">fromevent</a>
          </li>
        </div>
        <div class="col-md-3">
          <li  class="list-unstyled">
            <a routerLink="fromEvent" class="btn btn-info event-box">fromevent</a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
